html, body {
  padding: 0;
  margin: 0; }

header {
  background: #f6f2f2; }
  header .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex; }
    header .container nav {
      background: #313030;
      display: flex;
      justify-content: center;
      width: 100%; }
      header .container nav .mobile {
        width: 50px;
        height: 50px;
        background: #ff3f40;
        display: none; }
      header .container nav .active ~ a {
        display: block; }
      header .container nav a {
        padding: 20px 25px;
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        user-select: none; }
        header .container nav a:hover {
          background: #ff3f40; }
  header .block_left {
    width: 57%; }
    header .block_left h1 {
      font-size: 3.8em;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 0;
      margin-top: 1.5em; }
      header .block_left h1 span {
        letter-spacing: 6px; }
    header .block_left p {
      width: 75%;
      margin-top: 0%;
      font-size: 1em; }
    header .block_left button {
      width: 30%;
      height: 4em;
      margin-top: 2em;
      margin-bottom: 9em;
      background: #ff3f40;
      color: #fff;
      padding: 0;
      border-width: 0;
      font-weight: bold;
      letter-spacing: 1px;
      border-radius: 5px; }
  header .block_right {
    width: 43%; }
    header .block_right .video {
      height: 20em;
      background: #c5c1b3;
      margin-top: 5em;
      box-shadow: 0 0 20px darkgrey;
      text-align: center; }
      header .block_right .video img {
        margin-top: 8em; }

main {
  background: #fff;
  margin-top: 4em;
  padding: 0;
  margin: 0; }
  main .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex; }
    main .container .side_left {
      width: 50%;
      border-bottom: 2px solid #ededed;
      padding-bottom: 3em;
      margin-top: 5em; }
      main .container .side_left h2 {
        text-transform: uppercase;
        font-size: 2.75em;
        width: 90%;
        margin-top: 0; }
      main .container .side_left p {
        width: 90%; }
      main .container .side_left button {
        width: 30%;
        height: 4em;
        margin-top: 2em;
        margin-bottom: 9em;
        background: #fff;
        color: #ff3f40;
        padding: 0;
        font-weight: bold;
        letter-spacing: 1px;
        border: 2px solid  #ff3f40;
        border-radius: 5px; }
    main .container .side_right {
      width: 50%;
      border-bottom: 2px solid #ededed;
      padding-bottom: 3em;
      margin-top: 5em; }
      main .container .side_right .first {
        display: flex; }
        main .container .side_right .first .left {
          width: 50%; }
          main .container .side_right .first .left p {
            width: 90%;
            margin-top: 8px; }
          main .container .side_right .first .left h3 {
            margin-bottom: 8px; }
        main .container .side_right .first .right {
          width: 50%; }
          main .container .side_right .first .right p {
            width: 90%;
            margin-top: 8px; }
          main .container .side_right .first .right h3 {
            margin-bottom: 8px; }
      main .container .side_right .second {
        display: flex;
        margin-top: 2em; }
        main .container .side_right .second .left {
          width: 50%; }
          main .container .side_right .second .left p {
            width: 90%;
            margin-top: 8px; }
          main .container .side_right .second .left h3 {
            margin-bottom: 8px; }
        main .container .side_right .second .right {
          width: 50%; }
          main .container .side_right .second .right p {
            width: 90%;
            margin-top: 8px; }
          main .container .side_right .second .right h3 {
            margin-bottom: 8px; }
    main .container .products {
      width: 100%;
      background: #fff;
      text-align: center; }
      main .container .products .header {
        width: 50%;
        margin-left: auto;
        margin-right: auto; }
        main .container .products .header h3 {
          text-transform: uppercase;
          font-size: 2.5em;
          margin-bottom: 20px;
          margin-top: 60px; }
        main .container .products .header .line {
          width: 20%;
          height: 2px;
          background: #ff3f40;
          margin-left: auto;
          margin-right: auto; }
      main .container .products nav {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 3em; }
        main .container .products nav .active {
          color: #ff3f40; }
        main .container .products nav a {
          padding: 20px 35px;
          display: block;
          text-transform: uppercase;
          text-decoration: none;
          color: black;
          font-weight: bold; }
      main .container .products .pictures {
        text-align: center;
        width: 100%; }
        main .container .products .pictures div {
          width: 23%;
          height: 300px;
          background: #f5f1de;
          float: left;
          margin: 1%; }
    main .container .team {
      width: 100%; }
      main .container .team .left-top {
        width: 100%; }
        main .container .team .left-top h3 {
          text-transform: uppercase;
          font-size: 2.5em;
          margin-bottom: 20px;
          margin-top: 60px;
          margin-left: -10px; }
        main .container .team .left-top p {
          width: 35%;
          margin-bottom: 30px; }
        main .container .team .left-top .line {
          width: 11%;
          height: 2px;
          background: #ff3f40; }
      main .container .team .main {
        width: 100%;
        margin-top: 4em;
        display: flex;
        justify-content: space-between; }
        main .container .team .main .left-bottom {
          width: 25%;
          background: #f5f1de; }
        main .container .team .main .right-bottom {
          width: 70%; }
          main .container .team .main .right-bottom h4 {
            text-transform: uppercase;
            font-size: 2em;
            margin-top: 10px;
            margin-bottom: 10px; }
          main .container .team .main .right-bottom p {
            width: 75%; }
          main .container .team .main .right-bottom nav {
            margin-top: 2em;
            margin-bottom: 2em; }
            main .container .team .main .right-bottom nav a {
              padding-right: 2em;
              text-decoration: none;
              color: black;
              font-style: italic;
              font-weight: bold;
              font-size: large; }
          main .container .team .main .right-bottom .pictures {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 3.5em; }
            main .container .team .main .right-bottom .pictures div {
              width: 23%;
              height: 180px;
              background: #f5f1de; }
            main .container .team .main .right-bottom .pictures .first {
              display: flex;
              flex-direction: column;
              justify-content: flex-end; }
              main .container .team .main .right-bottom .pictures .first .text {
                width: 100%;
                height: 30px;
                background: #7b796e;
                color: #fff;
                text-transform: uppercase;
                vertical-align: middle; }
                main .container .team .main .right-bottom .pictures .first .text p {
                  text-align: center;
                  width: 100%;
                  margin: 0 auto;
                  margin-top: 5px; }
    main .container .info {
      width: 100%;
      margin-bottom: 2em; }
      main .container .info .left_top {
        width: 100%; }
        main .container .info .left_top h3 {
          text-transform: uppercase;
          font-size: 2.5em;
          margin-bottom: 20px;
          margin-top: 2em; }
        main .container .info .left_top p {
          width: 60%;
          margin-bottom: 3em;
          letter-spacing: 1px; }
        main .container .info .left_top div {
          width: 11%;
          height: 2px;
          background: #ff3f40; }
      main .container .info .main-info {
        width: 100%;
        margin-top: 4em;
        display: flex;
        justify-content: space-between; }
        main .container .info .main-info .message {
          width: 60%; }
          main .container .info .main-info .message form input {
            width: 45%;
            float: left;
            height: 60px;
            border-radius: 5px;
            padding: 0;
            border-width: 0;
            background: #e6e6e6; }
            main .container .info .main-info .message form input::placeholder {
              font-size: 16px;
              padding-left: 40px; }
            main .container .info .main-info .message form input.right {
              margin-left: 10%; }
            main .container .info .main-info .message form input.submit {
              width: 100%;
              margin-top: 3em;
              background: #ff3f40;
              color: #fff;
              text-transform: uppercase;
              font-weight: bold;
              letter-spacing: 1px; }
          main .container .info .main-info .message form textarea {
            width: 100%;
            height: 230px;
            margin-top: 3em;
            border-radius: 5px;
            padding: 0;
            border-width: 0;
            background: #e6e6e6;
            resize: none; }
            main .container .info .main-info .message form textarea::placeholder {
              font-size: 16px;
              padding-left: 40px;
              padding-top: 30px; }
        main .container .info .main-info .contact-info {
          width: 35%;
          height: 434px;
          position: absolute;
          right: 0;
          background: #292929;
          color: #cdcdcd; }
          main .container .info .main-info .contact-info h4 {
            margin-top: 25%;
            margin-left: 15%;
            text-transform: uppercase;
            margin-bottom: 2em; }
          main .container .info .main-info .contact-info p {
            width: 55%;
            margin-left: 15%;
            margin-bottom: 2em; }
  main .subscribe {
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
    background: #f5f1de;
    margin-top: 5em;
    text-align: center; }
    main .subscribe h3 {
      font-size: 50px;
      padding-top: 100px;
      margin-bottom: 20px;
      color: #fff; }
    main .subscribe p {
      padding-top: 10px;
      color: #fff; }
    main .subscribe .to_subscribe {
      width: 45%;
      height: 60px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: space-between;
      padding-top: 40px; }
      main .subscribe .to_subscribe input {
        width: 73%;
        border-radius: 5px;
        padding: 0;
        border-width: 0; }
        main .subscribe .to_subscribe input::placeholder {
          font-size: 16px;
          padding-left: 40px; }
      main .subscribe .to_subscribe button {
        width: 24%;
        border-radius: 5px;
        background: #ff3f40;
        color: #fff;
        padding: 0;
        border-width: 0;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px; }
  main footer {
    width: 100%;
    height: 100px;
    background: #292929;
    margin-top: 4em; }
    main footer div {
      max-width: 1200px;
      height: 100px;
      margin-left: auto;
      margin-right: auto;
      display: flex; }
      main footer div .rights {
        width: 50%;
        margin: 0; }
        main footer div .rights p {
          color: #cdcdcd;
          margin-top: 40px; }
      main footer div .images {
        width: 50%;
        margin: 0; }
        main footer div .images .links {
          width: 35%;
          margin: 0;
          margin-left: 65%; }
          main footer div .images .links a {
            margin-top: 35px;
            margin-left: 9%; }

@media (max-width: 768px) {
  header .container nav {
    flex-direction: column;
    text-align: center; }
    header .container nav .mobile {
      display: block; }
    header .container nav a {
      display: none; }
  header .block_left h1 {
    font-size: 1.5em; }
  header .block_left p {
    font-size: 0.7em; }
  header .block_left button {
    margin-bottom: 5em;
    height: 3em; }
  header .block_right .video {
    height: 14em;
    margin-top: 1em; }
    header .block_right .video img {
      margin-top: 5em; } }
